body
	background-color: white
	color: #333

div
	&.field, &.actions
	margin-bottom: 10px

a 
	color: black
	text-decoration: none
	border-bottom: 1px dotted black
	&:visited
		color: black
	&:hover
		border-bottom: none 
