$horizontal-border: 5px solid black
$vertical-border: 5px solid black

.alpha_title_block
  max-width: 960px

.name_and_admin
  border-top: $horizontal-border
  border-bottom: $horizontal-border
  border-left: $vertical-border
  margin-left: 1.041666667%
  float: left
  position: relative
  width: 20.83333333%

.location
  border-top: $horizontal-border
  border-bottom: $horizontal-border
  border-left: $vertical-border
  float: left
  width: 56%

.protection_and_users
  border-top: $horizontal-border
  border-bottom: $horizontal-border
  border-left: $vertical-border
  margin-right: 1.041666667%
  float: left
  width: 20.83333333%